@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1140px;
    margin: auto;
}

header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.resume-btn,
.learn-more-btn {
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

.resume-btn:hover,
.learn-more-btn:hover {
    background-color: #60cca4; 
}

/* main {
    width: 1140px;
    margin: auto;
} */

/* https://www.w3schools.com/cssref/css3_pr_background.php
https://stackoverflow.com/questions/29859864/no-repeat-center-center-vs-cover
*/

.banner {
    text-align: center;
    padding: 64px 32px;
    background: url('/assets/Hero-bg.png') no-repeat center center;
    background-size: cover;
}

.banner img {
    max-width: 150px;
    margin-bottom: 16px;
}

.banner h2 {
    font-size: 32px;
    margin: 8px 0;
}

.banner p {
    max-width: 600px;
    margin: 0 auto 16px;
    font-size: 16px;
}

.contact-btn {
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 8px 32px;
    cursor: pointer;
    border-radius: 4px;
}

.web-dev-section {
    /* padding: 32px; */
    max-width: 1140px;
    margin: 16px auto;
    background: #ADC8F7;
    border-radius: 8px;
}

.web-dev {
    padding: 32px;
    /* margin: auto; */
    /* background: #ADC8F7; */
    /* border-radius: 8px; */
    /* max-width: 1140px; */
}

h2,
.web-dev .center,
.next-target .center {
    text-align: center;
    margin-bottom: 16px;
}

.web-dev .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 16px 0;
}

.inspiration,
.targets {
    text-align: center;
    max-width: 1140px;
    margin: auto;
}

.inspiration .iframe-card {
    border: 1px solid gray;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
}

.inspiration iframe {
    display: inline-block;
    border-radius: 8px;
}

.targets .skills {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.targets .skill-card {
    background: #f9f9f9;
    padding: 16px;
    border-radius: 8px;
    margin: 16px 0;
}

.next-target {
    max-width: 1140px;
    margin: auto;
    /* text-align: center; */
}

.next-target .skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.next-target .skill-card {
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
}

.next-target .skill-card img {
   
    margin-right: 15px;
}

.support {
    background: url('/assets/handshake.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    color: white;
    max-width: 1140px;
    margin: auto;
    border-radius: 5px;
}

.support input {
    width: 60%;
    padding: 8px;
    margin: 16px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-btn {
    background-color: white;
    color: black;
    border: none;
    padding: 8px 32px;
    cursor: pointer;
    border-radius: 4px;
}

.submit-btn:hover {
    background-color: orange;
    color: #fff;
}

footer {
    background-color: #333;
    color: white;
    margin-top: 10px;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 8px;
    max-width: 1140px;
    margin: auto;
}

.social-links img {
    width: 24px;
    margin: 0 0.5em;
}